{%- assign image_crop = false -%}

{% if section.settings.image_crop == 'circle' or section.settings.image_crop == 'square' %}
  {%- assign image_crop = true -%}
{% endif %}

<style>
  .feature-row--{{ section.id }} {
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% elsif section.settings.background_color == blank and image_crop %}
      background-color: {{ settings.color_secondary_bg }};
    {% endif %}
  }

  {% if image_crop %}
    @media screen and (min-width: 750px) {
      .feature-row--{{ section.id }} .feature-row__image-wrapper {
        background-color: {{ section.settings.background_color | color_lighten: 5 }};
      }
    }
  {% endif %}
</style>

<style>
  #vidoe_popup--{{ section.id }}.video-popup__wrapper{
    {% if image_crop == false %}
	  width: 100%;
    {% endif %}
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #vidoe_popup--{{ section.id }} .video-section__cover-background {

  }

  #vidoe_popup--{{ section.id }} .video-section__cover-text {
    color: {{ section.settings.cover_text_color }}
  }

  #vidoe_popup--{{ section.id }} .video-section__load-player-button-triangle {
    border-left-color: {{ section.settings.cover_text_color }}
  }

  #vidoe_popup--{{ section.id }} .video-section__load-player-button-circle {
    border-color: {{ section.settings.cover_text_color }}
  }
/*.feature-row h2.feature-row__heading.h3.separator {
    font-weight: 600;
    font-size: 4rem;
}*/
  .feature-row h2.feature-row__heading.h3.separator,
  .feature-row .rte-setting.featured-row__subtext p {
      color: {{product.metafields.optional.text_color}};
  }

</style>

{% if section.settings.show_overlay %}
  <style>
    #vidoe_popup--{{ section.id }} .video-section__cover-text {
      color: {{ section.settings.overlay_text }};
    }

    #vidoe_popup--{{ section.id }} .video-section__load-player-button-triangle {
      border-left-color: {{ section.settings.overlay_text }};
    }

    #vidoe_popup--{{ section.id }} .video-section__load-player-button.animated .video-section__load-player-button-circle,
    #vidoe_popup--{{ section.id }} .video-section__load-player-button-circle {
      border-color: {{ section.settings.overlay_text }};
    }

    #vidoe_popup--{{ section.id }} .video-section__cover-overlay {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
  </style>
{% endif %}

{%- assign cover_image_url = section.settings.cover_image | img_url : '360x'  -%}

{% if product.metafields.optional.image != blank %}
	{%- assign cover_image_url = product.metafields.optional.image -%}
{% endif %}

{%- assign product_video_id = product.metafields.product_video.video_id  -%}
{%- assign product_video_type = product.metafields.product_video.video_type  -%}

{% capture product_video_layout %}
  <div class="product_video_layout feature-row feature-row__item feature-row__image-wrapper">
    <div class="iframe_wrapper">
    <iframe src="https://player.vimeo.com/video/{{product_video_id}}?loop=1&autopause=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    </div>
{% endcapture %}

{% capture video_layout %}
  <div class="video_layout feature-row feature-row__item feature-row__image-wrapper">
    <div class="iframe_wrapper">
    <iframe src="https://player.vimeo.com/video/{{section.settings.video_url.id}}?loop=1&autopause=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    </div>
{% endcapture %}


<div class="feature-row feature-row--{{ section.id }} feature-row--{{ section.settings.size }} feature-row__image-crop--{{ section.settings.image_crop }}{% if section.settings.mobile_layout == 'bottom' %} feature-row-mobile--bottom{% endif %}" data-section-id="{{ section.id }}" data-section-type="feature-row"  style="background-color: {{ product.metafields.optional.background_col }}; background-image: url({{ product.metafields.optional.background_img }}); background-position: center center; background-size: cover; background-repeat: no-repeat;">
  {% if section.settings.desktop_layout == 'left' %}
    {{ image_layout }}
  {% endif %}

  <div class="feature-row__item feature-row__text">
    {% if product.metafields.optional.title != blank %}
      <h2 class="feature-row__heading separator" data-animate>{{ product.metafields.optional.title | escape }}</h2>
    {% elsif section.settings.content-title != blank %}
      <h2 class="feature-row__heading separator" data-animate>{{ section.settings.contenttitle | escape }}</h2>
    {% endif %}
    
	{% if product.metafields.optional.description != blank %}
      <div class="rte-setting featured-row__subtext">{{ product.metafields.optional.description }}</div>
    {% elsif section.settings.text != blank %}
      <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
    {% endif %}
  </div>


  {% if product_video_type != blank and product_video_id != blank %}
        {{ product_video_layout }}
      {% elsif section.settings.desktop_layout == 'right' %}
          {{ video_layout }}
  {% endif %}


</div>

{% schema %}
{
  "name": "Product Video Popup",
  "class": "index-section index-section--product-video-popup",
  "settings": [
    {
      "type": "select",
      "id": "size",
      "label": "Section height",
      "default": "medium",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra Large",
          "value": "x-large"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#faf9f6"
    },
	{
      "type": "video_url",
      "id": "video_url",
      "label": "Video link",
      "accept": ["youtube", "vimeo"],
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_crop",
      "label": "Image style",
      "default": "none",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Square",
          "value": "square"
        }
      ]
    },
	{
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacity",
      "default": 30
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "contenttitle",
      "label": "Heading",
      "default": "default heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "header",
      "content": "Image alignment"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "label": "Desktop",
      "default": "right",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": "Mobile",
      "default": "top",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Video Popup",
      "category": "Image"
    }
  ]
}
{% endschema %}

